.row {
    display: flex;
}
.column {
    float: left;
    width: 25%;
    flex: 1;
    padding: 10px;
    border: 1px solid black;
    cursor: pointer;
    transition: flex 0.3s ease;
}
.column.active {
    flex: 4;
}
.column.inactive {
    flex: 1;
}